html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  background-color: rgb(206, 68, 50);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.header a {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: rgb(206, 68, 50);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home screen */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 30rem;
  border-bottom: 0.1rem solid grey;
}
/* .product-name {
    font-size: 2rem;
    
}
.product-brand {
    font-size: 1.2rem;
    color: grey
    
}
.product-year {
    font-size: 2.5rem;
    
} */
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}
/* 
.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
